@charset "utf-8";
.wrap{background:#fdfcf0;}

/*header*/
#header{width: 1260px; margin:0 auto; position:fixed; left:50%; transform:translateX(-50%); z-index:1;}
.m_util{height: 21px; overflow:hidden;}
.m_util ul{overflow:hidden; float:right;}
.m_util ul li{float:left;padding:0 5px;}
.m_util ul li:hover a{color:red;}
.m_util ul li a{display:block;font-size:12px; color: white;}
.m_hd_top{overflow:hidden;}
.m_hd_top h1{float:left; line-height:116px;}
.m_gnb{float:left;}
.m_gnb ul.main_menu{overflow:hidden;}
.m_gnb ul.main_menu>li{float:left;line-height:116px;width: 220px;text-align:center;}
.m_gnb ul.main_menu>li:hover a{color:red;}
.m_gnb ul.main_menu>li>a{display:block;font-size:18px; font-weight:bold; color: white; text-shadow:0 0 10px #111;}
.sub_menu_wrap{position:absolute; top:116px;left:50%; transform:translate(-50%);}
.movie,.ticket,.cinema,.event,.gift{display:none;}
ul.sub_menu{overflow:hidden;}
ul.sub_menu>li{float:left; line-height:20px;margin-right:10px;}
ul.sub_menu>li:hover a{color:red;}
ul.sub_menu>li>a{display:block; font-size:13px; color:white; text-align:center; text-shadow:0 0 10px #111;}

/*slider*/
.bx-wrapper {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 0 none;
    margin-bottom:0;
    background:#666;
}
.slider_btn{position:absolute; top:300px; cursor:pointer;}
.slider_btn.prev{right: 10px;}
.slider_btn.next{left: 10px;}

/*content*/
#contents{}
/*list*/
.list_wrap{width: 1260px; height: 360px;margin:0 auto;background:rgba(237,171,115,0.5); border-radius:3px; margin-bottom:50px; position:relative;}
.li_title h3{text-align:center; color:#fff;line-height:65px;}
.list{padding:0 35px;}
.list ul{overflow:hidden;}
.list ul li{width: calc(20% - 35px); height:255px; float:left; margin-right:35px;}
.list ul li img{width: 100%; height: 100%;}
.list_btn{position:absolute; top:50%;transform:translate(-50%); cursor:pointer;}
.list_btn.prev{right:0;}
.list_btn.next{left:10px;}
/*special*/
.special_wrap{background: #dbdad1; margin-bottom:50px;}
.special{width: 1260px; margin:0 auto;}
.s_title h3{color:#fe3635; padding-bottom:50px;}
.s_body ul{overflow:hidden; padding-bottom:50px;box-sizing:border-box;}
.s_body ul li{float:left;width:10%;height: 60px; border:1px solid #fdfcf0; background:url(../images/cinema_sprite.png) no-repeat 50%;}
.s_body ul li:nth-child(1){background-position:0 -15px;}
.s_body ul li:nth-child(2){background-position: -126px -15px;}
.s_body ul li:nth-child(3){background-position: -252px -15px;}
.s_body ul li:nth-child(4){background-position: -378px -15px;}
.s_body ul li:nth-child(5){background-position: -504px -15px;}
.s_body ul li:nth-child(6){background-position: -630px -15px;}
.s_body ul li:nth-child(7){background-position: -756px -15px;}
.s_body ul li:nth-child(8){background-position: -882px -15px;}
.s_body ul li:nth-child(9){background-position: 0 -110px;}
.s_body ul li:nth-child(10){background-position: -126px -110px;}
.s_body ul li a{display:block;height: 60px;}
/*events*/
.events_wrap{margin-bottom:50px;}
.events{width: 1260px; margin:0 auto;}
.events h3{color:#fe3635; padding-bottom:50px;}
.e_body ul{overflow:hidden;}
.e_body ul li{float:left;width: 25%;height: 200px;}
.e_body ul li:nth-child(1){width: 25%;height: 400px;}
.e_body ul li:nth-child(2){width: 50%;}
.e_body ul li:last-child{width: 50%;}
.e_body ul li a{display:block;}
.e_body img{width: 100%;}
/*gift*/
.gift_wrap{background:#dbdad1;margin-bottom:50px;}
.gifts{width: 1260px; margin:0 auto; padding:50px 0;}
.g_title h3{color:#fe3635; padding-bottom:50px;}
.g_body{}
.g_body .sb_title>ul{overflow:hidden;}
.g_body .sb_title>ul>li{float:left; padding:0 20px;border-right:1px solid #fff; margin-bottom:55px;}
.g_body .sb_title>ul>li:hover a{color:#fe3635;}
.g_body .sb_title>ul>li>a{color:#fff;}
.goods.open{display:block;}
.goods{overflow:hidden; display:none;}
.goods>li{float:left; width:calc(25% - 15px);padding:0 10px; margin-right:15px; }
.goods>li>a{display:block;}
/*notice*/
.notice{width: 1260px; margin:0 auto; overflow:hidden; margin-bottom:50px; background:#666;}
.notice_title,.notice_body{float:left; }
.notice_title{width: 135px; border-right:1px solid #eee; text-align:center;}
.notice_title a{color:#fff;}}
.notice_body{}
.not_slider{padding:0 15px;}
.not_slider>li>a{color:#fff;}
/*ad*/
.ad{width: 1260px; margin:0 auto; margin-bottom:50px;}
.ad img{width: 100%;}

/*footer*/
.f_wrap{width: 1260px; margin:0 auto;}
/*footermenu*/
.f_menu ul{overflow:hidden;padding:0 65px;}
.f_menu ul li{float:left; border-right: 1.5px solid #95948f;margin-right:5px; padding:0 10px;}
.f_menu ul li:last-child{border-right: 0 none;}
.f_menu ul li a{display:block; font-size:12px; text-align:center; color:#414141;}
/*footerbody*/
.f_body{}
.f_logo{float:left;}
.f_right{float:left; width:calc(100% - 143px); padding: 20px 10px; position:relative;}
.f_right p{font-size:11px;}
.copyright{float:right;}
.sns{position:absolute; top:35px; right: 180px;}
.sns ul{overflow:hidden;}
.sns ul li{float:left;width: 30px;height: 30px; margin-right:10px; border-radius:15px;}
.sns img{width: 100%; height: 100%;}
.family_site_wrap{position:absolute;top:35px; right:20px;}
.family_site_wrap button{border:2px solid #666; border-radius:3px;background:#666;}