@charset "utf-8";
/*header*/
#header{width: 1260px; margin:0 auto; position:fixed; left:50%; transform:translateX(-50%); z-index:1;}
.m_util{height: 21px; overflow:hidden;}
.m_util ul{overflow:hidden; float:right;}
.m_util ul li{float:left;padding:0 5px;}
.m_util ul li:hover a{color:red;}
.m_util ul li a{display:block;font-size:12px; color: white;}
.m_hd_top{overflow:hidden;}
.m_hd_top h1{line-height:116px; padding:0 570px;}
.m_gnb{}
.m_gnb ul.main_menu{overflow:hidden;}
.m_gnb ul.main_menu>li{float:left;line-height:50px;width: 20%;text-align:center;}
.m_gnb ul.main_menu>li:hover a{color:red;}
.m_gnb ul.main_menu>li>a{display:block;font-size:18px; font-weight:bold; color: white; text-shadow:0 0 10px #111;}
.sub_menu_wrap{position:absolute; top:220px;left:50%; transform:translate(-50%);}
.movie,.ticket,.cinema,.event,.gift{display:none;}
ul.sub_menu{overflow:hidden;}
ul.sub_menu>li{float:left; line-height:20px;margin-right:10px;}
ul.sub_menu>li:hover a{color:red;}
ul.sub_menu>li>a{display:block; font-size:13px; color:white; text-align:center; text-shadow:0 0 10px #111;}
.hd_bg_img_wrap{position:relative;}
.hd_bg_img_wrap img{width: 100%;}
.hd_bg_img_wrap .title{position:absolute; left:50%; top:50%; transform:translate(-50%,-50%);}
.title h3{font-size:32px;color:#fff; border-bottom:1.5px solid #fff;}

/*navigation*/
#nav{background:#e8e4cd;}
.n_wrap{width: 1260px; margin:0 auto;}
.n_wrap ul{overflow:hidden;}
.n_wrap ul li{float:left; margin-right:15px;}
.n_wrap ul li img{margin-right:5px;}

/*container*/
#container{}
/*ad*/
.ad{width: 1260px; margin:0 auto; margin-bottom:50px;}
.ad img{width: 100%;}

/*footer*/
.f_wrap{width: 1260px; margin:0 auto;}
/*footermenu*/
.f_menu ul{overflow:hidden;padding:0 65px;}
.f_menu ul li{float:left; border-right: 1.5px solid #95948f;margin-right:5px; padding:0 10px;}
.f_menu ul li:last-child{border-right: 0 none;}
.f_menu ul li a{display:block; font-size:12px; text-align:center; color:#414141;}
/*footerbody*/
.f_body{}
.f_logo{float:left;}
.f_right{float:left; width:calc(100% - 143px); padding: 20px 10px; position:relative;}
.f_right p{font-size:11px;}
.copyright{float:right;}
.sns{position:absolute; top:35px; right: 180px;}
.sns ul{overflow:hidden;}
.sns ul li{float:left;width: 30px;height: 30px; margin-right:10px; border-radius:15px;}
.sns img{width: 100%; height: 100%;}
.family_site_wrap{position:absolute;top:35px; right:20px;}
.family_site_wrap button{border:2px solid #666; border-radius:3px;background:#666;}