@charset "utf-8";
/*#header*/
#header{position:relative;}
#header.main{}
#header_top{
	width: 100%; height: 50px; position:absolute;
	left:50%; transform:translateX(-50%); top:30px;
	z-index:1;  padding:0 20px;
}
#header_top h1{float:left; line-height:50px; padding-left: 10px;}
#header_top h1 a{color:white;}
#header_top #main_menu{display:none;}

#header_top .toggle_menu{display:block;float:right; width: 50px; height: 50px; position: relative; cursor:pointer; z-index:1; display:block;}
.toggle_menu div{width: 35px;height: 5px;background: #fff; position:absolute; border-radius:3px;left:7px;transition:0.3s;}
.toggle_menu .bar1{top:11px;}
.toggle_menu .bar2{top:21px;}
.toggle_menu .bar3{top:31px;}
.toggle_menu.open .bar1{top:50%;left:50%;transform:translate(-50%,-50%) rotate(45deg);}
.toggle_menu.open .bar2{display:none;}
.toggle_menu.open .bar3{top:50%;left:50%;transform:translate(-50%,-50%) rotate(-45deg);}
/*bxslider*/
.slider_wrap ul li{height: 400px;}
.slider_wrap li.first{
	background:url(../images/main/mainimg01.jpg) no-repeat center;
	background-size:cover;
}
.slider_wrap li.second{
	background:url(../images/main/mainimg02.jpg) no-repeat center;
	background-size:cover;
}
.slider_wrap .slider_txt{
	width: 100%; color: white; text-align:center; display:none;
}
.slider_wrap h3{font-size: 2em; text-shadow: 0 0 10px #111;}
.slider_wrap p{text-shadow: 0 0 10px #111;}
.bx-wrapper {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 0 none;
    margin-bottom:0;
}
.slider_wrap .bx-pager{bottom: 50px;}

/*content*/
#header .content{
	width:100%;	
}
.content>ul>li{float:left; width: 100%; height: 115px; border: 1px solid #000; display:none;}
.content>ul>li:nth-child(2n){background:skyblue;}
.content>ul>li:nth-child(4),.content>ul>li:nth-child(6),.content>ul>li:nth-child(8),.content>ul>li:nth-child(10){
	display:block;}