@charset "utf-8";
/*header*/
#header{
	background: url(../images/header_top_bg.jpg) no-repeat ; 
}
	/*headertop*/
	.htWrap{
		width: 980px; height: 90px; margin: 0 auto; position: relative;
	}
	.htWrap h1{color:white;}
	.htWrap .logo, .htWrap .mainSearch,
	.htWrap .contact{position: absolute;}
	.logo{left: 0; top: 20px;}
	.search{width: 290px; left: 200px; top: 20px; background: #fff;}
	.mainSearch{width: 290px; left: 200px; top: 20px;}
	.search_bor{
		width: 290px; height: 43px; background: #fff; border-radius: 30px; line-height: 20px; overflow:hidden;position:absolute;
	}
	.mainSearch legend{text-indent:-9999px; font-size:0;}
	.mainSearch label{position:absolute; left:10px; top:10px; vertical-align:middle;z-index:2;}
	.mainSearch input{width: 290px;height: 43px; position:absolute; left:0;top:0; text-align:center;vertical-align:middle; border:0 none;}
	.mainSearch button{
		width: 20px; height: 20px; 
		background: url(../images/header_top_btn.jpg) no-repeat 50%;
		border:0 none; position:absolute;right: 10px; top: 10px; z-index:1;vertical-align:middle;
	}
	.contact{right: 0; top: 20px; overflow:hidden;}
	.contact h1{float:left;}
	.contact ul{float:right; overflow:hidden;}
	.contact li{width: 24px; line-height: 43px; margin-left: 6px; padding: 10px 0; float:left;}
	.contact li a{
		background: url(../images/util_sns_sprite01.png), no-repeat;
		display: block; text-align: center;  height: 24px; text-indent: -9999px;
		}
	.contact li:nth-child(1) a{background-position: 0 0;}
	.contact li:nth-child(2) a{background-position: -30px 0;}
	.contact li:nth-child(3) a{background-position: -60px 0;}
	.contact li:nth-child(4) a{background-position: -90px 0;}
	/*nav*/
	.navWrap{height: 64px; background:#fafafa;}
	.navWrap:after{content:""; display:block; width: 100%; height: 2px;background: #0e72a4;}
	#nav_gnb{width: 980px; height: 64px; margin: auto;}
	#nav_gnb ul{overflow:hidden; text-align:center; line-height:64px;}
	#nav_gnb ul>li{width: 163.33px;float:left; overflow:hidden;}
	#nav_gnb ul>li:after{content:""; display:block; float:left;width: 1px; height: 64px; background:#e6e6e6;}
	#nav_gnb ul>li:last-child:after{content:""; display:none;}
	#nav_gnb ul>li>a{width: 162.33px; display:block; float:left; color:#16272f; font-weight:bold;}
	/*contents*/
	.conBg{
		width: 100%; height: 1123px;
		background:url(../images/C_bg02.jpg) no-repeat center; 
		background-size:cover; 
		position: relative;
	}
	.conOne{
		width: 980px; height: 612px; padding:56px 0 0 0; margin:auto;
		position: relative; 
	}
	.conOneBg{
		width: 584px; height: 518px; 
		background:url(../images/C_bg01.png) no-repeat 100%;
 		position:absolute; bottom:-140px; right:0; 
	}
	.conOneMenuWrap{width: 132px;height: 300px; float:left;}
	.conOneMenu{width: 132px; height: 25%; text-align:center; line-height:75px;}
	.formWrap{width: 350px; height: 300px; float:left;}
	.conOneTxt{float:left; padding:34px 0 0 40px;}
	.conOneTxt h2{font-size:3em; color:#16272f; margin-bottom:35px;}
	.conOneTxt h2 span:after{
		content:""; display:block; width:66px; height: 5px; background: #16272f;
		position:absolute; right: 233px; bottom:460px;
	}
	.conOneTxt p{font-size:1.5em;}