@charset "utf-8";
/*header*/
#header{
	background: url(../images/header_top_bg.jpg) no-repeat ; 
}
/*headertop*/
.htWrap{
	width: 980px; height: 90px; margin: 0 auto; position: relative;
}
.htWrap h1{color:white;}
.htWrap .logo, .htWrap .mainSearch,
.htWrap .contact{position:absolute;}
.logo{left: 0; top: 20px;}
.mainSearch{width: 290px; left: 200px; top: 20px;}
.search_bor{
	width: 290px; height: 43px; border:0 none;
	overflow:hidden;
}
.mainSearch legend{text-indent:-9999px; font-size:0;}
.mainSearch label{text-indent:-9999px; width: 60px; background:url(../images/searchtext.jpg) no-repeat 50%; position:absolute; left:10px; top:10px; vertical-align:middle;z-index:2;}
.mainSearch input{
	width: 290px;height: 43px; position:absolute; left:0;top:0; 
	text-align:center;vertical-align:middle; border:0 none;  background: #fff; line-height: 20px;  border-radius: 30px;
}
.mainSearch button{
	width: 20px; height: 20px; 
	background: url(../images/header_top_btn.jpg) no-repeat 50%;
	border:0 none; position:absolute;right: 10px; top: 10px; z-index:1; vertical-align:middle;
}
.contact{right: 0; top: 20px; overflow:hidden;}
.contact h1{float:left;}
.contact ul{float:right; overflow:hidden;}
.contact li{width: 24px; line-height: 43px; margin-left: 6px; padding: 10px 0; float:left;}
.contact li a{
	background: url(../images/util_sns_sprite01.png), no-repeat;
	display: block; text-align: center;  height: 24px; text-indent: -9999px;
	}
.contact li:nth-child(1) a{background-position: 0 0;}
.contact li:nth-child(2) a{background-position: -30px 0;}
.contact li:nth-child(3) a{background-position: -60px 0;}
.contact li:nth-child(4) a{background-position: -90px 0;}
/*nav*/
.navWrap{height: 64px; background:#fafafa;}
.navWrap:after{content:""; display:block; width: 100%; height: 2px;background: #0e72a4;}
#nav_gnb{width: 980px; height: 64px; margin: auto;}
#nav_gnb ul{overflow:hidden; text-align:center; line-height:64px;}
#nav_gnb ul>li{width: 163.33px;float:left; overflow:hidden;}
#nav_gnb ul>li:after{content:""; display:block; float:left;width: 1px; height: 64px; background:#e6e6e6;}
#nav_gnb ul>li:last-child:after{content:""; display:none;}
#nav_gnb ul>li>a{width: 162.33px; display:block; float:left; color:#16272f; font-weight:bold;}
/*contents*/
#contents h4{color:white;}
.conBg{
	width: 100%; height: 1123px;
	background:url(../images/C_bg02.jpg) no-repeat center; 
	background-size:cover; 
	position: relative;
}
.conOne{
	width: 980px; height: 612px; padding:56px 0 0 0; margin:auto;
	position: relative; margin-bottom:16px;
}
.conOneBg{
	width: 917px; height: 650px; 
	background:url(../images/C_bg01.png) no-repeat 100%;
		position:absolute; bottom:-180px; right:-110px; 
}
.conOneMenuWrap{width: 132px;height: 300px; float:left; margin-bottom:15px;}
.conOneMenu{width: 132px; height: 25%; text-align:center; line-height:75px; background: skyblue;}
.conOneMenu a{display:block;}

.formWrap{width: 350px; height: 300px; background:#fff; float:left; position:relative;}
.formLayer{width: 350px; padding: 5px;}
.formLayer fieldset{border:0 none; margin-bottom:20px;}
.formLayer legend{display:block; position:absolute; left:0; top:-9999px;}
.formLayer label{display:block; width: 100%; padding:5px 0; font-weight:bold;}
.formLayer select{ width:100%; height:40px; font-size:1em; text-indent:10px;}
.formLayer .left,
.formLayer .right{float:left; width:160px;}
.formLayer .left{margin-right:10px;}
.formLayer .left input,
.formLayer .right input{width:100%; height:40px; text-indent:10px; font-size:1em; border:1px solid #777;}
.formLayer .tBtn{width:100%; height: 40px; border:0 none; cursor:pointer; background: orange; font-kerning: color:white; font-weight:bold; font-size:1em; border-radius:10px;
 }

.conOneTxt{width: 498px; float:left; padding:34px 0 0 40px;}
.conOneTxt h2{font-size:3em; color:#16272f; margin-bottom:35px;}
.conOneTxt h2 span:after{
	content:""; display:block; width:66px; height: 5px; background: #16272f;
	position:absolute; right: 233px; bottom:460px;
}
.conOneTxt p{font-size:1.5em;}
.gWrap{width: 482px;height: 240px;
	position:absolute; bottom: 0; left: 0; overflow:hidden;
}
.french, .japan{height: 240px;}
.french{float:left;margin:0 16px 0 0;}
.gBody{width: 233px; height: 50px; background: #152630;position:absolute; line-height:50px; color:white;}
.freTxt{bottom: 0; left: 0;}
.japTxt{bottom: 0; right: 0;}

.conTwo{width: 980px; height: 495px; margin: auto; position: relative}
.contentInfor{width: 233px; height: 240px; float:left; margin:0 16px 15px 0;}
.contentInfor:nth-child(4){margin-right:0;}
.contentInfor:nth-child(5){margin-bottom:0;}
.contentInfor:nth-child(6){margin-bottom:0;}
.contentInfor:nth-child(7){margin-bottom:0;}
.contentInfor:nth-child(8){margin:0;}
.content
.slider li{position:absolute;}
.conInfTxt{
	width: 233px; height: 60px; position: absolute; bottom:0;
}
.pointColorG{background: #529351; padding:15px 0 0 17px;}
.pointColorB{background: #152630; padding:15px 0 0 17px;}
.star{ height: 13px; background: url(../images/C-img03_1.png) no-repeat;}
.starB{ height: 13px; background: url(../images/C-img04_1.png) no-repeat;}
.bx-wrapper {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
     box-shadow: none; 
     border: 0 none; 
     margin-bottom:0;
}
.bx-wrapper .bx-pager.bx-default-pager a{
	display:none;
}
.cInfWeather{background:url(../images/C_img05.jpg); padding:22px 0 0 0;}
.cInfWeather>h4{text-align:center;}
.cInfPoint{bottom:255px; background: rgba(42,40,53,0.7); padding:13px 0 0 18px;}
.cInfPoint>p{color:#909196; font-size:11px;}
.cInfPerson{background: url(../images/C_img06.jpg);}
#footer{width: 980px; height: 113px; margin: auto; background: #fff;}