@charset "utf-8";
body,html{min-width:800px;}
/*menu*/
nav#nav_top{position:fixed;z-index:1;width:100%;background-color:rgba(215,215,215,0.2);}
nav#nav_top ul#top_menu{width: 960px;margin:0 auto; overflow:hidden;}
nav#nav_top ul#top_menu li{float:left; width: 20%;}
nav#nav_top ul#top_menu li a{display:block; line-height:100px; text-align:center; font-size:24px; font-weight:bold; padding:0 10px;}
nav#nav_top ul#top_menu li#logo a{display:block; height: 100px;background:url(../images/logo.png) no-repeat center;}
nav#nav_top ul#top_menu li.active:after{content:'';display:block;width: 100%;height: 8px; background:#05513f;transition:0.3s}
/*page*/
#my_video{position:absolute;width: 100%;height: 100%;object-fit:cover;top: 0;z-index: -100}
.scroll{position:absolute; left:50%;transform:translateX(-50%);bottom:40px; animation:x_scroll 0.8s infinite alternate;z-index: 10;}
@keyframes x_scroll{
form{bottom:40px;}
to{bottom:20px;}
}

#fullpage #page2{background-image:url(../images/content01.jpg);}
#fullpage #page2 .main_title{position:relative;height: 650px;}
#fullpage #page2 .main_title img{position:absolute; left:150px; top:-10px; animation:main_title 0.8s infinite alternate;}
@keyframes main_title{
	form{left:150px;}
	to{left:120px;}
}
#fullpage #page2 .main_body{width: 1000px;height: 500px; position:absolute;top: 50%;left: 50%; transform:translate(-50%,-50%);}
.main_body .txt_title{width: 280px; line-height:40px; margin: 0 auto; background: rgba(253,252,251,0.7); border-radius: 20px;}
.main_body .txt_title h3{text-align:center; font-size:20px; font-weight:bold; color:#009b75; margin:150px 0;}
.main_body .txt_title h3 span{font-size:12px;}
.main_body ul{padding: 0 20px;}
.main_body ul:after{content:'';display:block;clear:both;}
.main_body ul li{float:left; width:calc(25% - 50px); margin-left:50px;}
.main_body ul li a{display:block; position:relative; height: 150px;}
.main_body ul li img{width: 100%;height: 150px;border-radius:50%; position:absolute; top: 30px;animation: main_list 1.5s infinite alternate;}
@keyframes main_list{
	form{top:30px;}
	to{top:50px;}
}
.main_body ul li.down img{animation:main_list_down 1.5s infinite alternate; top:50px;}
@keyframes main_list_down{
	form{top:50px;}
	to{top:30px;}
}
.main_body ul li .list_txt{text-align:center; position:absolute;top: -10px; line-height:30px;padding:0 9px; background:rgba(253,252,251,0.7);border-radius: 15px;left:50%;transform:translateX(-50%); color:#009b75; font-weight:bold;}

#fullpage #page3{background-image:url(../images/content02_01.jpg);}
#fullpage #page3 img.dragon1{position:absolute; right:-125px; bottom:16px;transform:rotate(1deg) scale(1.16);
	animation-duration:2.3s;
	animation-fill-mode:forwards;}
@keyframes dragon{
	from{transform:scale(1.16) rotate(1deg);}
	to{transform:scale(1.36) rotate(1deg);}
}
#fullpage #page3 img.dragon1.on{animation-name:dragon;}

#fullpage #page3 img.dragon2{position:absolute; left:-700px; top:50px; transform: scale(1.16);
	animation-duration:2.3s;
	animation-fill-mode:forwards;}
@keyframes dragon_left{
	from{left:-700px; transform:scale(1.16);}
	to{left:0; transform:scale(1.26);}
}
#fullpage #page3 img.dragon2.on{animation-name:dragon_left;}

#fullpage #page4{background-image:url(../images/content03.jpg);}
#fullpage #page4 img.flower{position:absolute; left:495px; bottom:60px; transform: scale(1.16);opacity:0;
	animation-duration:1.5s;
	animation-fill-mode:forwards;
}
@keyframes flower{
	from{transform:scale(1.16); opacity:0;}
	to{transform:scale(1.36); opacity:1;}
}
#fullpage #page4 img.flower.on{animation-name:flower;}
#fullpage #page4 img.women{position:absolute; right:134px; bottom:122px; transform: scale(1.9);opacity:0;
	animation-duration:1.5s;
	animation-fill-mode:forwards;
}
@keyframes women{
	from{transform:scale(1.9); opacity:0;}
	to{transform:scale(2.2); opacity:1;}
}
#fullpage #page4 img.women.on{animation-name:women;}

#fullpage #page5{background-image:url(../images/content04.jpg);}

#fullpage .section{background-repeat:no-repeat;background-position:center;background-size:cover;}

.txt_body{position:absolute; width: 400px; top:50%; left:50%; transform:translate(-50%,-50%); padding:30px 0; border-radius:15px;}
.txt_body.p1{background: rgba(118,117,118,0.8);}
.txt_body.p2{background: rgba(145,14,2,0.8);}
.txt_body.p3{background: rgba(158,155,0,0.8);}
.txt_body h1{text-indent:-9999px; width: 157px; line-height:40px; margin:0 auto; background:url(../images/logo.png) no-repeat center;margin-bottom:35px; padding-bottom:35px;}
.txt_body h1 a{display:block;}
.txt_body p{text-align:center; font-size:24px;margin-bottom:35px; color:#c9d701;}
.txt_body p span{display:inline-block; margin-bottom:20px; font-size:36px;}
.txt_body p span.space{display:inline-block; width: 155px;}
.txt_body .txt_slide{width:150px; position:relative;}
.txt_body .txt_slide li.t_slide{width: 117px;text-align:center; position:absolute; bottom:35px; left:135px;font-size:24px;color:#f00;display:none;}
.txt_body .txt_slide.p2 li.t_slide{color:#0f0;}
.txt_body .txt_slide.p3 li.t_slide{color:#00f;}
.txt_body .btn_next{display:none;}
.txt_body .txt_body_btn{margin:0 auto;width: 220px;}
.txt_body .txt_body_btn .btn-click{width: 220px;border: 1px solid rgba(255, 255, 255, 0.7);background-color: transparent;border-radius: 50px;padding: 5px 0 5px 15px;position: relative;text-align: center;color: #c9d701;text-transform: uppercase;font-size: 13px; display: inline-block;}
.txt_body .txt_body_btn .btn-click:hover span.btn_icon{left:215px;}
.txt_body_btn .btn-click:hover .text {opacity: 0;}
.txt_body_btn .btn-click:hover:before{position: absolute; left: 90px;content:" 여행 꿀팁!"; opacity: 1; text-align: center;}
.txt_body .txt_body_btn .btn-click span{display:inline-block;}
.txt_body_btn .btn_icon{position: absolute;left: 1px;top: 1px;bottom: 1px;padding: 9px 10px;border-radius: 50%;text-align: center;color: #ffdd00;background-color: rgba(255, 255, 255, 0.6);transition: all 0.5s ease;-webkit-transition: all 0.5s ease}

/*footer*/
.footer{}