@charset "utf-8";
/*header*/
/*headerTop*/
.hWrap{background: #0044af;}
.hWrap .hTopWrap{width: 1200px; height: 40px; margin: 0 auto;}
.hTop .hTopLeft{float:left;}
.hTop .hTopLeft ul{width: 400px;}
.hTop .hTopLeft li{
	float:left; width: 120px;line-height: 40px; margin-right: 5px; text-align: center;
}
.hTop .hTopLeft li a{
	display: block; color:white;
	background: #00163b;
}
.hTop .hTopLeft li:hover a{
	color:#222; font-weight: bolder; background: #fff; 
}
.hTop .hTopRight li{
	float:right; line-height: 40px; margin-right: 10px;
	font-size: 11px; color:white;
}
.hTop .hTopRight li:nth-child(4){width: 45px;height: 20px;}
.hTop .hTopRight li:nth-child(4) a{
	width: 20px;height: 20px;background: #fff; line-height: 20px;
	color:#333; margin-right: 1px; text-align: center; font-size:1.2em;
}
.hTopRight .iconM,
.hTopRight .iconP{float: left; color:#333; margin-top: 10px;}
.hTop .hTopRight li a{display: block; color:white;}
.hTop .hTopRight li img
.hTop .hTopRight li:hover a{font-weight: bold;}


/*headerNav*/
.hNav{
	width: 1200px; margin: 0 auto; height: 115px; padding: 30px 0;
}
.hNav img{display: block;}
.hNav .logo{width: 210px; margin-right: 380px;}
.hNav .logo,
.hNav .navMenu{float:left;}
.hNav .toggle{float:right;}
.hWrap .hNav .logo a{}
.hNav .navMenu ul{width: 472px; margin-right: 45px;}
.hNav .navMenu li{float:left;}
.hNav .navMenu li a{
	display: block; line-height: 55px; margin-right: 30px;
	color:#222; font-weight: bold;
}
.hNav .navMenu li:last-child a{margin-right: 0;}
.hNav .toggle .tog{float:left; margin-right: 1px;}
.hNav .toggle .tog.two{margin-right: 0;}


/*container*/
.container{ height: 1310px;
	background-image: url(../images/00bg_dot.gif), url(../images/00main_bg01.jpg);
	background-repeat: repeat, no-repeat;
	background-position: center;
	background-size: auto,cover;
}
.box{
	background: #192d4e;width: 170px; height: 40px;
	text-align: center; line-height: 40px; 
}
.container .conTopWrap{
	width: 1200px; height: 260px; margin: 0 auto;
}
.container .conTopLeft{width: 640px; color:white; padding: 80px 5px;}
.conTopLeft{float:left;}
.conTopLeft p{font-size: 1.5em;}
.conTopLeft h2{font-size: 3em;}
.conTopRight{float:right; padding: 60px 0;}
.conTopRight li{float:left; margin-left: 15px;}
.contentsWrap{height: 900px; margin-bottom: 20px;}
.contentsWrap li{float:left; width: 25%; height: 225px; color:white;}
.contentsWrap .sliderWrap{
	background: red; width: 75%; height: 450px; position: relative;
}
.sliderWrap .nextBtn,
.sliderWrap .prevBtn{
	position: absolute; top: 50%; margin-top: -30px; 
	cursor:pointer;
}
.sliderWrap .prevBtn{left: 0;}
.sliderWrap .nextBtn{right: 0;}
.sliderWrap .slider li.sliderHeight{height: 450px;}
.bx-wrapper {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 0 none;
    margin-bottom: 0;
}
.slider img{width: 100%; height: 100%;}
.slider .sTxt{
	position: absolute; top: 80px; left: 50px;
	 color:#194fbc; font-size: 3em;
	}
.sTxt p{margin-bottom: 30px;}
.sTxt span.point{font-weight: bold;}
.sTxt .sBtn p{font-size: 16px;}
.sTxt .sBtn p a{display: block; color:white;}
/*app*/
.contentsWrap .app{
	height: 450px; 
	background-image: url(../images/app_bg.jpg);
}
.app .wrap{
	width: 300px; height: 450px; margin: auto; 
	background: rgba(89,66,0,0.6);
}
.wrap .title{padding: 50px 0 30px 30px; font-size: 2.2em;}
.wrap p{padding: 30px;}
.wrap .box.aBtn{
	background: rgba(41,27,0,0.6);
	border: 1px solid #fff;
}
.wrap .aBtn p{padding: 0;}
.wrap .aBtn{margin: auto;}
.wrap .aBtn a{display: block; color:white;}
/*midContent*/
.midContent h2{padding: 20px;margin-bottom: 10px;}
.midContent.hotLink{background: #00163b;}
.hotLink .hIcon div{
	margin-right: 10px; padding: 0 0 0 18px; float:left;
}
.hotLink .hIcon a{display: block;}
.midContent.news{background: #1651b7;}
.news .articleWrap{
	width: 270px; margin: auto; position: relative;
	padding: 28px 0;
}
.news .articleWrap p{font-size: 11px; margin-bottom: 10px;}
.news .articleWrap a{color:white;}
.news .articleWrap:before{ 
	content:""; width: 270px; height: 3px; background: #fff;
	position: absolute; top: 0; margin-bottom: 10px;
}
.midContent.sns{background: #fff;}
.sns h2{color:#02163c;}
.sns .artWrap{
	width: 270px; height: 80px; margin: auto;
	position: relative;
}
.artWrap img{display: block; position: absolute; top: 0;left: 10px;}
.artWrap p{
	font-size:11px; color:#999;
	position: absolute; top: 10px; right: 20px;
}
.midContent .snsIcon{
	width: 270px; height: 30px; margin: auto;
}
.snsIcon>ul>li{
	float:right; width: 30px; height: 30px;
	background-image: url(../images/sns_icon_sprite.png);
	background-repeat: no-repeat;
}
.snsIcon>ul>li:nth-child(1){background-position: -424px -216px;}
.snsIcon>ul>li:nth-child(2){background-position: -455px -277px;}
.snsIcon>ul>li:nth-child(3){background-position: -392px -277px;}
.snsIcon>ul>li:nth-child(4){background-position: -424px -246px;}
.snsIcon>ul>li>a{display: block; line-height: 30px; text-indent: -9999px;}
.midContent.tour{position: relative; overflow:hidden;}
.tour .overlay{
	width: 300px; height: 225px; position: absolute; top: 175px; 
	background-color: rgba(0,0,0,0.5); transition: 0.8s;
}
.tour .overlay .tTxt{
	text-align: center;
	color:#fff; position: absolute;
	left: 50%; margin-left: -85.622px;
}
.tTxt h2{padding: 10px 0 0 0; font-size:1.2em; margin-bottom: 50px;}
.midContent.tour:hover .overlay{top: 0;}
/*botContent*/
.botContent{position: relative;}
.botContent .overlay{
	width: 300px; height: 225px; position: absolute; top: 0; 
	background-color: rgba(63,73,171,0.5);
}
.botContent .overlay .bStart{
	width: 80px; height: 80px; text-align: center; line-height: 80px;
	color:#fff; background: rgba(0,0,0,0.5); border-radius: 75px;
	position: absolute;
	top: 50%; margin-top: -40px; left: 50%; margin-left: -40px;
}
.overlay .bStart a{
	margin: auto; line-height: 95px;
	}
.contentsWrap .sliderTwoWrap{width: 75%; position: relative;}
.sliderTwo .sTxt{
	width: 400px; position: absolute; top: 20px; left: 30px; 
	font-size: 1.5em; color:#fc523b;
}
.sliderTwo .sTxt .bold{font-size: 2em; font-weight: bold;}
.sTxt .box.sTwBtn{
	background: #e3372b;
}

.sTxt .sTwBtn p{font-size: 16px;}
.sTxt .sTwBtn a{display: block; color: #fff;}

.bx-wrapper .bx-pager{
   position: absolute; top: 0; right: -380px;
}
.bx-wrapper .bx-pager.bx-default-pager a:hover, .bx-wrapper .bx-pager.bx-default-pager a.active, .bx-wrapper .bx-pager.bx-default-pager a:focus {
    background: #f84237;
}
/*memo*/
.memo{width: 1200px; height: 60px; background: #fff;}
.memo .memoLeft{float: left; width: 25%; text-align: center;}
.memoLeft .title,
.memoLeft .date{
	float: left; width: 150px; line-height: 60px;color:#1a3055;
	font-weight: bold;
}
.memo .line{float:left; width: 0;height: 60px; border-right: 2px solid #cdcdcd;
	text-indent: -9999px;}
.memo .memoRight{width: 898px; float: right; height: 60px;}
.memoRight .sliderThree .sliderThContent{height: 60px; position: relative;}
.memoRight .sliderThree  .sliderThContent p{
	font-size: 11px; color:#6d6d6d;
	position: absolute;
	top:50%; margin-top:-7px;left: 50%; margin-left: -442px;
}
.sliderThContent .bPoint{font-weight: bold; margin-right: 150px;}

.sliderThContent .prevBtnTwo{
	height: 28px; position: absolute; top: 0;right: 0; 
	cursor:pointer;
}
.sliderThContent .nextBtnTwo{
	height: 28px; position: absolute; bottom: 0; right: 0;
	cursor:pointer;
}
/*footer*/
.fWrap{width: 1200px; margin: auto; padding: 30px 0;}
.fWrap .fLogo,
.fWrap .fMenu{float: left;}
.fLogo{width: 300px; padding: 25px 30px; margin-right: 10px;}
.fMenu{}
.fMenu li{
	float: left; font-size: 11px; font-weight: bold; color: #818181;
	margin-left: 19px; margin-right: 19px; position: relative;
}
.fMenu li:after{
	content:""; display: block; width: 2px; height: 15px; 
	background: #818181; position: absolute; top: 0; right: -19px;
}
.fMenu li:last-child:after{content:""; display: none;}
.fMenu li a{display: block;}
.fMenu p{padding: 15px 19px;font-size: 11px; color:#bbb;}
.fMenu .copy{padding: 0 19px; color:#6d6d6d;}